// Font import
@import url('http://fonts.cdnfonts.com/css/clash-display');
@import url('http://fonts.cdnfonts.com/css/satoshi');


// Color variables
$DarkPrimaryColor: #2A254B;
$PrimaryColor: #4E4D93;
$LightGreyColor: #F9F9F9;
$WhiteColor: #FFFFFF;
$BorderDarkColor: #CAC6DA;

// Display variables
$mobile-width: 320px;
$tablet-width: 1024px;
$desktop-width: 1980px;